@charset "UTF-8";
/*******************************************
********************************************

Basic

********************************************
********************************************/



* { margin: 0; padding: 0; }
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html, body {
	line-height: 1;
	background-color: #FFF;
	font-family: Verdana;
	height: 100%;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
}


#map {
	height: 600px;
	margin: 50px;	
}



/*******************************************
********************************************

Header

********************************************
********************************************/





header {
	background-color: #FFF;
	padding: 20px;
	padding-right: 127px;
	text-align: center;
	display: inline-block;
	width: 100%;
	z-index: 10;

}

header h1 {
	background-color: #FFF;
	text-align: center;
	font-size: 4em;
	color: #1E90FF;
	display: inline-block;
}

.header_homepage {
	box-shadow: 0 2px 20px 1px #000;
}

.header_subpage {
	box-shadow: 0 1px 10px 1px #303030;
}







/*******************************************
********************************************

Side Navigation Menu

********************************************
********************************************/







.menu a {
	font-size: 2em;
    color: #1E90FF;
    float: left;
    margin-top: 15px;
}

.menu a:hover, .offcanvas a:focus{
    color: #1871c9;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background: rgba(32, 32, 32, 0.95);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav hr {
	margin: 10px;
	color: #1871c9;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
    display: block;
    transition: 0.3s
    border-top: solid 1px rgba(255, 255, 255, 0.125);
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #707070;
}

a.active {
    /*color: #848484;*/
    color: #707070;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 40px;
    margin-left: 50px;
}









/*******************************************
********************************************

Containers

********************************************
********************************************/






.container_main {
	width: 100%;
	display: inline-block;
	text-align: center;
	top: 0;
}

.container_subpage_heading {
	text-align: center;
	padding: 20px;
	padding-top: 25px;
	background-color: #707070;
	color: white;
	font-size: 25px;
}

.container_content {
	padding: 40px;
	position: relative;
	text-align: left;
	font-size: 20px;
	line-height: 25px;
}


.container_content h2 {
	font-size: 2em;
}


.search_container {
	background-color: white;
	display: inline-block;
	border-radius: 10px;
	width: 700px;
}


.search_container input[type=text] {
  font-size: 20px;
  border: none;
  width: 85%;
  text-align: left;
  margin-top: 10px;
  vertical-align: middle;
}

.search_container input[type=text]:focus{
	outline: none;
}

.search_container button {
  float: right;
  margin: 2px;
  padding: 8px;
  background-color: #1E90FF;
  font-size: 20px;
  color: #FFF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.search_container button:hover{
  background-color: #1871c9;
}


/*******************************************
********************************************

Parallax

********************************************
********************************************/

.parallax {
	background-image: url("../../static/img/water.jpeg");
	min-height: 500px;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax_text {
	background-color: transparent;
	text-align: center;
	color: #FFF;
	font-weight: 10;
	min-height: inherit;
}

.parallax_text h2 {
	text-shadow: 1px 2px 10px #000;
}

.homepage {
	padding-top: 200px;
	padding-bottom: 200px;
}

.subpage {
	padding-top: 20px;
	padding-bottom: 20px;
}




/*******************************************
********************************************

Footer

********************************************
********************************************/






footer {
	background-color: #202020;
	height: 150px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer_text {
	text-align: center;
	color: #707070;
}



