<!-- AquaWatch -->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Aqua Watch</title>

    <!-- CSS -->
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css?version=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css', v=0.01) }}">

    <!-- JS -->
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
</head>

<body>
	<header class="header_homepage">
		<div class="menu">
				<a href="#">
					<span onclick="openNav()">&#9776; Menu</span>
				</a>
        </div>

        <div class="header_center">
		    <a href="{{ url_for('index') }}"><h1>Aqua Watch</h1></a>
        </div>

        {% if logged_in %}
            <div id="container_logout">
                {% if fname %}
                    <h2>Hello, {{ fname }}</h2>
                {% endif %}
                <form method="get" action="{{ url_for('logout') }}">
                    <button id="logs" type="submit">Log out</button>
                </form>
            </div>
        {% endif %}
        {% if not_logged_in %}
            <div id="container_login">
                <form method="get" action="{{ url_for('login') }}">
                    <button id="logs" type="submit">Log in</button>
                </form>
            </div>
        {% endif %}
	</header>

	<!-- Side Navigation: appears when opened -->
	<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('index') }}" class="active">Home | Search</a><hr>
        <a href="{{ url_for('your_water_quality') }}">Your Water Quality</a><hr>
        <a href="{{ url_for('report_guide') }}">Understanding the Report</a><hr>
	</div>

	<div class="parallax">
		<div class="parallax_text homepage">
			<h2>Learn about the water quality in any area</h2>
			<br>
			<div class="search_container">
                <form method="post" action="{{ url_for('mapview') }}">
				    <input type="text" placeholder="Search by address" name="search">
  				    <button type="submit">Search</button>
                </form>
  			</div>
  		</div>
	</div>

	<div class="container_content">
	</div>

	<footer>
		<div class="footer_text">
			<h1>CS591 Project</h1>
			<h2>Boston University Spring 2018</h2>
		</div>
	</footer>

</body>
</html>

