<!-- AquaWatch -->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Aqua Watch</title>

    <!-- CSS -->
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

    <!-- JS -->
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>

</head>

<body>
	<header class="header_homepage">
		<div class="menu">
				<a href="#">
					<span onclick="openNav()">&#9776; Menu</span>
				</a>
			</div>
		</div>

		<h1>Aqua Watch</h1>

        {% if logged_in %}
            <div id="login-register" style="display:none;">
                <form method="get" action="{{ url_for('login') }}">
                    <button id="login" type="submit">Log in</button>
                </form>

                <form method="get" action="{{ url_for('register') }}">
                    <button id="register" type="submit">Register</button>
                </form>
            </div>
            <div id="logout-user" style="display:flex;">
                {% if fname %}
                    <p>Hello, {{ fname }}</p>
                {% endif %}
                <form method="get" action="{{ url_for('logout') }}">
                    <button id="logout" type="submit">Log out</button>
                </form>
            </div>
        {% endif %}
        {% if not_logged_in %}
            <div id="login-register" style="display:flex;">
                <form method="get" action="{{ url_for('login') }}">
                    <button id="login" type="submit">Log in</button>
                </form>

                <form method="get" action="{{ url_for('register') }}">
                    <button id="register" type="submit">Register</button>
                </form>
            </div>

            <div id="logout-user"  style="display:none;">
                {% if fname %}
                    <p>Hello, {{ fname }}</p>
                {% endif %}
                <form method="get" action="{{ url_for('logout') }}">
                    <button id="logout" type="submit">Log out</button>
                </form>
            </div>
        {% endif %}

	</header>

	<!-- Side Navigation: appears when opened -->
	<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('index') }}" class="active">Home</a><hr>
        <a href="{{ url_for('map') }}">Search by Map</a><hr>
        <a href="{{ url_for('your_water_quality') }}">Your Water Quality</a><hr>
        <a href="{{ url_for('report_guide') }}">Understanding the Report</a><hr>
	</div>

	<div class="parallax">
		<div class="parallax_text homepage">
			<h2>Learn about the water quality in any area</h2>
			<br>
			<div class="search_container">
                <form method="post" action="{{ url_for('mapview') }}">
				    <input type="text" placeholder="Example: 111 Cummington Mall Boston USA" name="search">
  				    <button type="submit">Search</button>
                </form>
  			</div>
  		</div>
	</div>

	<div class="container_content">

        {% if location %}
            <h2>{{ location }}</h2>
        {% endif %}

        </br>

        {% if message %}
            <h2>{{ message }}</h2>
        {% endif %}

	</div>

	<footer>
		<div class="footer_text">
			<h1>CS591 Project</h1>
			<h2>Boston University Spring 2018</h2>
		</div>
	</footer>

</body>
</html>

