<!-- AquaWatch -->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Aqua Watch</title>

    <!-- CSS -->
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/register.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/register.css') }}">

    <!-- JS -->
    <script type="text/javascript" src="../static/js/script.js"></script>

</head>

<body>
	<header class="header_homepage">
		<div class="menu">
				<a href="#">
					<span onclick="openNav()">&#9776; Menu</span>
				</a>
			</div>
		</div>

		<h1>Aqua Watch</h1>

        <div id="login-register">
            <form method="get" action="{{ url_for('login') }}">
                <button id="login" type="submit">Log in</button>
            </form>

            <form method="get" action="{{ url_for('register') }}">
                <button id="register" type="submit">Register</button>
            </form>
        </div>

	</header>

    <!-- Side Navigation: appears when opened -->
	<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('index') }}" class="active">Home</a><hr>
        <a href="{{ url_for('map') }}">Search by Map</a><hr>
        <a href="{{ url_for('your_water_quality') }}">Your Water Quality</a><hr>
        <a href="{{ url_for('report_guide') }}">Understanding the Report</a><hr>
	</div>

	<div class="container_content">

        <form method="post" action="{{ url_for('register_attempt') }}">
            <div class="search_container">

                    <input type="text" placeholder="Email: example@bu.edu" name="email">

            </div>
            <div class="search_container">

                    <input type="text" placeholder="Password: mypassword" name="password">

            </div>
            <div class="search_container">

                    <input type="text" placeholder="First Name: Joe" name="firstname">

            </div>
            <div class="search_container">

                    <input type="text" placeholder="Last Name: Smith" name="lastname">

                    <button type="submit">Register</button>

            </div>

        </form>

        {% if message %}
            <h2>{{ message }}</h2>
        {% endif %}

	</div>

	<footer>
		<div class="footer_text">
			<h1>CS591 Project</h1>
			<h2>Boston University Spring 2018</h2>
		</div>
	</footer>



</body>
</html>

