<!-- AquaWatch -->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Aqua Watch | Your Water Quality</title>

    <!-- CSS -->
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css?version=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css', v=0.01) }}">

    <!-- JS -->
    <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
</head>

<body class="Site">
	<header class="header_subpage">
        <div class="menu">
                <a href="#">
                    <span onclick="openNav()">&#9776; Menu</span>
                </a>
        </div>

        <div class="header_center">
            <a href="{{ url_for('index') }}"><h1>Aqua Watch</h1></a>
        </div>

        {% if logged_in %}
            <div id="container_logout">
                {% if fname %}
                    <h2>Hello, {{ fname }}</h2>
                {% endif %}
                <form method="get" action="{{ url_for('logout') }}">
                    <button id="logs" type="submit">Log out</button>
                </form>
            </div>
        {% endif %}
        {% if not_logged_in %}
            <div id="container_login">
                <form method="get" action="{{ url_for('login') }}">
                    <button id="logs" type="submit">Log in</button>
                </form>
            </div>
        {% endif %}
    </header>

    <!-- Side Navigation: appears when opened -->
    <main class="Site_content">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{{ url_for('index') }}">Search</a><hr>
            <a href="{{ url_for('your_water_quality') }}" class="active">Your Water Quality</a><hr>
            <a href="{{ url_for('report_guide') }}">Understanding the Report</a><hr>
        </div>
    
        <div class="container_content">
            {% if not_logged_in %}
                <h2>You need to be logged in to view your water quality.</h2>
            {% endif %}

            {% if has_item_code %}
                <div class="page-header"> <h2> Your item code: {{item_code}} </h2></div>
                </br>
            {% endif %}

            {% if results %}
                {% for result in results %}
                    <img src={{ res_img }} />
                    <p>Location: {{result[0]}}</p>
                    <p>Oxidation-Reduction-Potential: {{result[3]}}</p>
                    <p>Total Dissolved Solids: {{result[4]}}</p>
                    <p>Turbidity: {{result[5]}}</p>
                    <p>ph: {{result[6]}}</p>
                    <p>Conductivity: {{result[7]}}</p>
                    </br>
                {% endfor %}
            {% endif %}

            {% if no_address %}
                <h2>Update the address associated with your product</h2>
                <br>
                <div class="product_container">
                    <input type="text" placeholder="Enter address" name="address" id="address">
                    <button type="button" id="add-address">Update</button>
                </div>
            {% endif %}

            {% if no_item_code %}
                <h2>Enter product code to see water quality</h2>
                <br>
                <div class="product_container">
                    <input type="text" placeholder="Enter product code" name="item-code" id="item-code">
                    <button type="button" id="product-code">Enter</button>
                </div>
            {% endif %}

            {% if message %}
                <h2>{{ message }}</h2>
            {% endif %}
        </div>
    </main>

    <script src= "{{ url_for('static',filename='js/events.js') }}"></script>
    <script>
    $(document).ready(function(){
            console.log("ready to go");
            //let b = "{{url_for('index')}}";
            //console.log(b);
            const events = new Events();
            events.yourWaterQuality();
        });
    </script>

    <footer>
		<div class="footer_text">
			<h1>CS591 Project</h1>
			<h2>Boston University Spring 2018</h2>
		</div>
	</footer>

</body>
</html>