{% include "header.html" %}
    
    {% if has_item_code %}
	<div class="container">
        
        <div class="page-header"> <h2> Your item code: {{item_code}} </h2></div>
        </br>
        <ul>
        {% for key, value in results.items() %} 
            <li>{{key}}: {{value}}</li>
        {% endfor %}
        </ul>

        {% if not has_address %}
        <div class="add-address">
            <h4> Add/Update an address associated with your product </h4>
            <label for="address"> Address: </label>
            <input type="text" name="address" id="address">

            <button class="btn tbn-primary" id="add-address">Add Address</button>
        </div>    
        {% endif %}

	</div>
    {% else %}
    <div class="addCode container">
        <div class="page-header">
            <h3>You need to add your item code</h3>
        </div>
        <input type="text" name="item-code" id="item-code">
        <button type="button" class="btn btn-primary" id="submit-item-code">Add Code</button>
    </div>

    {% endif %}
    <script src= "{{ url_for('static',filename='js/events.js') }}"></script>
    <script >
    $(document).ready(function(){
            console.log("ready to go");
            //let b = "{{url_for('index')}}";
            //console.log(b);
            const events = new Events();
            events.yourWaterQuality();
        });

    </script>
{% include "nav.html" %}
{% include "footer.html" %}