<!DOCTYPE html>
<html lang="en">

<head>
	<title>Aqua Watch</title>

    <!-- CSS -->
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

    <!-- JS -->
    <script type="text/javascript" src="../static/js/script.js"></script>
	
</head>

<body>
	<header class="header_homepage">
		<div class="menu">
				<a href="#">
					<span onclick="openNav()">&#9776; Menu</span>
				</a>
			</div>
		</div>

		<h1>Aqua Watch</h1>
	</header>

	<!-- Side Navigation: appears when opened -->
	<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#" class="active">Home</a><hr>
        <a href="{{ url_for('map') }}">Search by Map</a><hr>
        <a href="{{ url_for('your_water_quality') }}">Your Water Quality</a><hr>
        <a href="{{ url_for('report_guide') }}">Understanding the Report</a><hr>
	</div>

	<div class="parallax">
		<div class="parallax_text homepage">
			<h2>Learn about the water quality in any area</h2>
			<br>
			<div class="search_container">
				<input type="text" placeholder="Search by address, city, or zipcode" name="search">
  				<button type="submit">Search</button>
  			</div>
  		</div>
	</div>

	<div class="container_content">
		<h2>About</h2>
		<br>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique hendrerit felis eget congue. Maecenas viverra porta faucibus. Nam at tortor sed est condimentum efficitur. Ut tellus leo, gravida sit amet erat ac, feugiat lobortis magna. Nam ullamcorper tempor est a ultrices. Vivamus at neque sem. Maecenas aliquam, nisl ut dictum porttitor, erat nulla volutpat magna, vitae eleifend justo leo at lacus. Phasellus ac maximus enim. Integer quam velit, congue tincidunt tempus sodales, maximus nec nunc. Cras non dictum leo. Vestibulum placerat quam felis, et vulputate est vulputate vitae.</p>
		<br>
		<p>Nulla vel porttitor dui. Suspendisse quis erat eu mauris tristique lobortis sed quis metus. Pellentesque interdum fermentum tellus id aliquam. Aliquam imperdiet tincidunt lorem a sollicitudin. Nullam rutrum tortor eget mauris sagittis mattis. Nam quam nisl, pellentesque vel ligula eu, mollis aliquet nibh. Duis cursus arcu eget est euismod posuere. Suspendisse eget tempus nulla, eget ullamcorper sapien. Aenean eget interdum velit.</p>
	</div>


	<footer>
		<div class="footer_text">
			<h1>CS591 Project</h1>
			<h2>Boston University Spring 2018</h2>
		</div>
	</footer>



</body>
</html>